table{
    background-color: rgba(240, 248, 255, 0.178);
    width: 80%;
}
mat-paginator{
    background-color: rgba(240, 248, 255, 0.445);
}
td,
th {
    width: 25%;
}
mat-form-field {
    font-size: 14px;
    width: 100%;
    margin-top: 20px;
}
:host ::ng-deep tr.mat-row {
    height: 70px;
}
#icon:hover{
    cursor: pointer;
}
.positive{
    color: rgb(202, 39, 17);
}
.negative{
    color:rgb(5, 150, 118);
}
td{
    font-weight: bold;
}