.navbar{
        flex: 1 1 auto;
}
mat-toolbar{
        background-color: #5B2A86;
        color: #A5E6BA;
}
button{
        margin: 20px;
        background-color: #A5E6BA;
        color: #5B2A86;
}
mat-form-field{
        margin: 10px;
}