<mat-toolbar>
  <span>Crypto Currencies</span>
<div class="home-button">
  <button mat-mini-fab (click)="navigateHome()">
    <mat-icon>home</mat-icon>
  </button>
</div>
<span class="navbar"></span>
  <mat-form-field>
      <mat-select
      (valueChange)="selectedCurrency($event)"
      [(ngModel)]="currentCurrency">
          <mat-option selected value="HUF">HUF</mat-option>
          <mat-option value="USD">USD</mat-option>
      </mat-select>
  </mat-form-field>
</mat-toolbar>
<router-outlet></router-outlet>